.flex-container1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:rgb(231, 177, 111);
    margin-bottom: 20px;
}

.flex-item1 {
    background-color:bisque;
    padding: 20px;
    margin: 10px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background-color:rgb(111, 163, 231);
    margin-bottom: 20px;
}

.flex-item2 {
    background-color:rgb(80, 69, 207);
    padding: 20px;
    margin: 10px;
}

.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color:rgb(238, 208, 172);
    margin-bottom: 20px;
}

.flex-item3 {
    width: 150px;
    background-color:rgb(245, 174, 88);
    padding: 20px;
    margin: 10px;
}

.flex-container4 {
    display: flex;
    padding: 10px;
    background-color:rgb(231, 111, 219);
    margin-bottom: 20px;
}

.flex-item4 {
    flex-grow: 1;
    background-color:rgb(225, 77, 124);
    padding: 20px;
    margin: 10px;

}

.flex-item4:nth-child(2) {
    flex-grow: 2;
}
